Source: libnss-afs
Section: libs
Priority: extra
Maintainer: Adam Megacz <megacz@hcoop.net>
Build-Depends: debhelper (>= 4.0.0), libopenafs-dev, libc6-dev (>= 2.3.6)
Standards-Version: 3.7.2

Package: libnss-afs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: nscd
Description: A NSS (Name Service Switch) module for AFS
 A Name Service Switch (NSS) plugin is a shared library used by glibc
 to -- among other things -- translate between usernames and numeric
 userids and between group names and numeric groupids.
 .
 The libnss-afs library is an NSS plugin which answers these queries
 using the information stored in the AFS ptserver, avoiding the need to
 duplicate (and update) this information in /etc/passwd or LDAP.  The
 library also synthesizes the name AfsPag-XXXX for the fake group ids
 that are used to represent AFS PAGs.
 .
 Based on libnss-ptdb by Frank Burkhardt <burk@cbs.mpg.de>.
 Based on nss_pts by Todd M. Lewis.
 .
 You should use nscd to reduce network traffic caused by this
 module.
